/el-get/
/autosaves/
/ac-comphist.dat
/elisp/
/semanticdb/
/elim/
/tramp
/url/
/abbrev_defs
/image-dired/
/bookmarks
/elpa/archives/ELPA/archive-contents
/elpa/archives/Marmalade/archive-contents
/elpa/archives/gnu/archive-contents
/places
*.elc
/sarcasm-elisp/sarcasm-identity.el
/session.*
/auto-save-list/
/backup/
/elpa/
/eshell/
/irony/
